.input {
  width: 100%;
  background: var(--bg3);
  border: 1px solid var(--g4);
  color: var(--g1);
  font-family: var(--fm);
  font-size: 13px;
  padding: 8px 10px;
  outline: none;
  transition: border-color .1s;
}

.input:focus {
  border-color: var(--g3);
}
